<% # a 2s long action by-passed by the 304 response during 100 seconds %>
<% sleep(2.seconds) %>

<h1>Listing people</h1>

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.firstname %></td>
    <td><%= person.lastname %></td>
    <td><%= person.company.name %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
